streamlit>=1.32.0
torch>=2.0.0
transformers>=4.40.0
accelerate>=1.1.0
numpy>=1.24.0,<2.0.0
pytz
tensorflow==2.12
--extra-index-url https://opensource.tbank.ru/api/v4/projects/238/packages/pypi/simple
t-tech-investments